body {
    font-family: sans-serif;
    background: #333333;
}

p {
    margin: 6px 0;
}

h1, a {
    color: #c40022;
}


a {
    cursor: pointer;
}

a.disabled {
    color: grey;
    cursor: inherit;
}

input[type="number"] {
    width: 3em;
}

.exhausted {
    font-style: italic;
    color: grey;
}

.video {
    position: relative;
    display: inline-block;
    background: #c40022;
    margin: 0.5em;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 0px 2px black, 0px 0px 3px black, 0px 0px 4px black;
}

.video .title {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 10px 6px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
}

.video .play {
    display: none;
    width: 50px;
    height: 50px;

    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -25px;
    margin-top: -25px;

    border: 5px solid black;
    border-radius: 100%;

    text-align: center;
    line-height: 44px;

    font-size: 36px;
    font-weight: bold;
}

.video:hover .title, .video:hover .play {
    display: block;
}

.video .loading {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -12px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 0px 2px black, 0px 0px 3px black, 0px 0px 4px black, 0px 0px 4px black;
    color: white;
}

.video .loading .dots {
    display: inline-block;
    width: 0;
}

.updated {
    font-weight: bold;
}

.box {
    margin: 12px 0px;
    background-color: #fafafa;
    border: thin solid #888;
    border-radius: 3px;
}

.box .title {
    margin: 0;
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
    background-color: #aaa;
}

.box .title:hover {
    color: #444;
    cursor: pointer;
}

.box .content {
    padding: 6px;
}

#log {
    display: none;
    position: absolute;
    bottom: 20px;
    height: 240px;
    border: thin solid green;
    overflow-y: scroll;
    width: 95%;
    background-color: #dfdfdf;
    padding: 10px;
}

#ajax-log {
    position: fixed;
    bottom: 0;
    left: 10px;
    right: 10px;
    padding: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #c8c8c8;
    z-index: 1;
    border-radius: 3px 3px 0px 0px;
    font-family: monospace;
}

#dimmer {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    background-color: black;
}

#player {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -280px;

    padding: 2px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 0px 8px white;
}

body {
  padding-top: 50px;
}
.main {
  padding: 40px 15px;
  text-align: center;
}

.lead {
    color: #fff;
    font-size: larger;
}

.navbar-red {
    color: white;
    background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 *}
