body {
    font-family: sans;
}

a {
    cursor: pointer;
}

.exhausted {
    font-style: italic;
    color: grey;
}

.video {
    display: inline-block;
    width: 320px;
    height: 180px;
    background-image: url("http://placehold.it/320x180/C40022&text=No+Thumbnail");
    margin: 0.5em;
    border: thin solid grey;
}

.video .title {
    height: 20px;
    margin: 0;
    padding: 6px 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.video .title.swift {
    color: blue;
}

.video .title.zerovm {
    color: orange;
}


.pending {
    background-color: #efefef;
}

.updated {
    font-weight: bold;
}
